


<section >
  
    <div class="container">
        <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title">{{oferta.title}}</h1>
        </div>
        <div>
          <h5 [innerHTML]="oferta.description" class="description"></h5>
        </div>
        <p><a class="btn btn-primary button " [routerLink]="['/pagamento', oferta.id]" role="button">Comprar</a> </p>
      </div>
<br>
    </div>
    <div class="container">
        <div class="row">
            
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 filter hdpe " *ngFor="let imagem of imagens">
                    <div class="thumbnail">
                <img src="{{imagem.url}}" class=" photos img-responsive">
                </div>
            </div>
        </div>


        
    </div>

    

  
</section>


